[Unit]
Description=Service to update DuckDNS IP
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'source /home/samuelgranato/server/config.env && /home/samuelgranato/duckdns/update.sh'

[Install]
WantedBy=default.target