<html>
    <head>
        <title>Samu MediaFiles - {{ folder }}</title>
    </head>
    <body>
        <a >Playing {{folder}}, Episode {{ episode }}</a>
        <br>
        <video id="video" width="720" height="480" controls>
            <source src={{src}} type="video/mp4">
            <track src="{{src_sub}}" kind="subtitles" srclang="pt" label="Português" default/>
          Your browser does not support the video tag.
        </video> 
        <br>
        <button style="width: 150px;height: 50px;" id="voltar">Voltar 10 Segundos</button>
        <button style="width: 150px;height: 50px;" id="avancar">Avancar 10 Segundos</button>
        <br><br>
        <form action="/play?folder={{folder}}&episode={{episode}}" method="POST">
            <input type="submit" value="Next Episode">
        </form>

        <br><br>
        <form action="/" method="GET">
            <input type="submit" value="Home">
        </form> 
    </body>
</html>

<script>
var video = document.getElementById("video");
var avancar = document.getElementById("avancar");
var voltar = document.getElementById("voltar");

avancar.addEventListener("click", function(e) {
	video.currentTime += 10;
})

voltar.addEventListener("click", function(e) {
	video.currentTime -= 10;
})

document.onkeydown = checkKey;

function checkKey(e) {

    e = e || window.event;

    console.log(e.keyCode);
    if (e.keyCode == '37') {
        video.currentTime -= 10;
    }
    else if (e.keyCode == '39') {
        video.currentTime += 10;
    }
    else if (e.keyCode == '100') {
        video.currentTime -= 10;
    }
    else if (e.keyCode == '102') {
        video.currentTime += 10;
    }

}


</script>